{
    "alias": "box.phar",
    "chmod": "0755",
    "compactors": [
        "Herrera\\Box\\Compactor\\Composer",
        "Herrera\\Box\\Compactor\\Json"
    ],
    "directories": ["src/lib"],
    "files": [
        "LICENSE",
        "res/schema.json",
        "src/vendors/herrera-io/phar-update/res/schema.json"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": [
                "mikey179",
                "phpunit",
                "phpunit-test-case",
                "Tests",
                "tests",
                "yaml"
            ],
            "in": "src/vendors"
        }
    ],
    "git-version": "git_tag",
    "main": "bin/box",
    "output": "box-@git-version@.phar",
    "replacements": {
        "manifest_url": "http://box-project.org/manifest.json"
    },
    "stub": true
}
