{
    "alias": "box.phar",
    "chmod": "0755",
    "directories": ["src/lib"],
    "files": ["res/schema.json"],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["Tests", "tests"],
            "in": "src/vendors"
        }
    ],
    "git-version": "git_tag",
    "main": "bin/box",
    "output": "box.phar",
    "replacements": {
        "manifest_url": "http://box-project.org/manifest.json"
    },
    "stub": true
}
